LOSCFG_COMPILE_DEBUG=y
# LOSCFG_COMPILE_OPTIMIZE is not set
# LOSCFG_COMPILE_LTO is not set
LOSCFG_PLATFORM_QEMU_RISCV32_VIRT=y
LOSCFG_ARCH_FPU_DISABLE=y
LOSCFG_GPIO_DRIVER_IRQ_TEST=y
# LOSCFG_HALS_COMMUCATION_WIFI_LITE is not set
LOSCFG_SOC_SERIES_HPM6700=y
LOSCFG_KERNEL_BACKTRACE=y
# LOSCFG_KERNEL_SIGNAL is not set
LOSCFG_KERNEL_CPUP=y
LOSCFG_LIBC_NEWLIB=y
LOSCFG_SHELL=y
LOSCFG_SHELL_CMD_DEBUG=y
LOSCFG_MEM_DEBUG=y
LOSCFG_DRIVERS_HDF=y
LOSCFG_DRIVERS_HDF_PLATFORM=y
LOSCFG_DRIVERS_HDF_PLATFORM_GPIO=y
LOSCFG_DRIVERS_HDF_PLATFORM_WATCHDOG=y
